@font-face {
    font-family: AlfaSlabOne;
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}
@font-face {
    font-family: IntegralCF;
    src: url(../fonts/IntegralCF-Bold.otf);
}
@font-face {
    font-family: SatoshiR;
    src: url(../fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: SatoshiM;
    src: url(../fonts/Satoshi-Medium.otf);
}
@font-face {
    font-family: SatoshiB;
    src: url(../fonts/Satoshi-Bold.otf);
}
@font-face {
    font-family: InterR;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: SatoshiR;
    font-weight: 400;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (min-width: 1440px){
#pcHidden{
    display: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           H E A D E R 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
header{
    padding: 62px 100px 24px;
    position: relative;
}
header h1 a{
    font-family: AlfaSlabOne;
    font-size: 32px;
    color: #000;
}
header nav{
    gap: 24px;
}
header nav a{
    color: #000;
}
#dropDown{
    border: none;
    font-size: 16px;
    width: 57px;
}
.search{
    width: 586px;
    background-color: #F0F0F0;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 62px;
}
.search input{
    background-color: #F0F0F0;
    font-size: 16px;
    border: none;
    width: 100%;
}
.cartAndAcc{
    gap: 14px;
}
.cartAndAcc a{  
    margin-top: 4px;
}
.signUp{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding:  10px 100px;
    width: 100%;
    text-align: center;
}
.signUp a{
    font-family: SatoshiM;
    color: #fff;
    border-bottom: solid 2px #fff;
}
.x{
    position: absolute;
    top: 9px;
    right: 100px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                             M A I N 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.findClothes{
    background-image: url(../images/people.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    padding: 100px 100px 116px;
    position: relative;
}
.findClothes>h2{
    font-family: AlfaSlabOne;
    font-size: 64px;
    width: 577px;
    line-height: 64px;
    font-weight: 400;
    margin-bottom: 30px;
}
.findClothes>p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    width: 545px;
    margin-bottom: 32px;
}
.findClothes button{
    border: none;
    background-color: #000;
    width: 210px;
    color: #fff;
    padding: 16px 54px;
    font-size: 16px;
    font-family: SatoshiM;
    border-radius: 62px;
    margin-bottom: 48px;
}
.findClothes>div.flex{
    width: 596px;
}
.vLine{
    width: 1px;
    height: 76px;
    background-color: rgba(0, 0, 0, 0.1);
}
.findClothes>div.flex h2, .findClothes span{
    font-family: SatoshiB;
    font-size: 40px;
}
.findClothes>div.flex p{
    color: rgba(0, 0, 0, 0.6);
}
.findClothes span{
    color: #000;
    display: block;
}
.findClothes .shineParticle{
    position: absolute;
    top: 86px;
    right: 80px;
}
.findClothes .shineParticleSmall{
    width: 56px;
    position: absolute;
    top: 297px;
    right:633px;
}
.brands{
    background-color: #000;
    padding: 44px 100px;
}
.brands div{
    gap: 106px;
}
.newArrivals, 
.topSelling{
    padding: 68px 100px 64px;
}
.newArrivals h2, 
.topSelling h2{
    font-size: 48px;
    font-family: AlfaSlabOne;
    font-weight: 400;
    text-align: center;
    margin-bottom: 51px;
}
.newArrivals .flex>div>img, 
.topSelling .flex>div>img, 
.product .uMightLike .flex>div>img{
    border-radius: 20px;
    margin-bottom: 16px;
}
.newArrivals .flex>div>h3, 
.topSelling .flex>div>h3, 
.product .uMightLike .flex>div>h3{
    font-family: SatoshiB;
    font-size: 20px;
    margin-bottom: 8px;
}
.newArrivals .rating, 
.topSelling .rating, 
.product .wholeInfo .rating, 
.product .uMightLike .rating{
    width: fit-content;
    margin-bottom: 8px;
    gap: 5px;
}
.newArrivals .rating img, 
.topSelling .rating img, 
.product .uMightLike .rating img{
    height: 18px;
}
.newArrivals .rating p, 
.topSelling .rating p, 
.product .uMightLike .rating p{
    margin-left: 8px;
    font-size: 14px;
}
.newArrivals .rating span, 
.topSelling .rating span, 
.product .uMightLike .rating span{
    color: rgba(0, 0, 0, 0.6);
}
.newArrivals .price, 
.topSelling .price, 
.product .uMightLike .price{
    width: fit-content;
    gap: 10px;
}
.newArrivals .price h3, 
.topSelling .price h3, 
.product .uMightLike .price h3{
    font-family: SatoshiB;
    font-size: 24px;
}
.newArrivals #Discount h3:nth-child(2), 
.topSelling #Discount h3:nth-child(2), 
.product #Discount h3:nth-child(2){
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
}
.newArrivals #Discount p, 
.topSelling #Discount p, 
.product #Discount p{
    font-family: SatoshiM;
    font-size: 12px;
    color: #FF3333;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 14px;
    border-radius: 62px;
}
.newArrivals button, 
.topSelling button{
    display: block;
    font-family: SatoshiM;
    padding: 16px 64px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin: 36px auto 0;
    background-color: #fff;
}
.browseBy.flex{
    background-color: #F0F0F0;
    border-radius: 40px;
    margin: 16px 100px 80px;
    padding: 70px 64px 76px;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
}
.browseBy h2{
    font-family: IntegralCF;
    font-size: 48px;
    text-align: center;
    margin-bottom: 64px;
    font-weight: 400;
    width: 100%;
}
.browseBy .casual{
    width: 407px;
    height: 289px;
    background-image: url(../images/casual.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy .formal{
    width: 684px;
    height: 289px;
    background-image: url(../images/formal.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy .party{
    width: 684px;
    height: 289px;
    background-image: url(../images/party.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy .gym{
    width: 407px;
    height: 289px;
    background-image: url(../images/gym.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy a{
    display: inline-block;
    color: #000;
    font-family: SatoshiB;
    font-size: 36px;
    margin: 25px 36px;
}
.happyCustomers{
    margin: 0 100px 170px;
    flex-wrap: wrap;
}
.happyCustomers>div{
    width: 100%;
}
.happyCustomers h2{
    font-family: IntegralCF;
    font-size: 48px;
}
.happyCustomers #LArrow{
    margin-right: 16px;
}
.happyCustomers #RArrow{
    transform: rotate(180deg);
}
.happyCustomers section{
    margin-top: 40px;
    padding: 28px 32px;
    width: fit-content;
    height: 240px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.happyCustomers section>div:first-child{
    width: 139px;
}
.happyCustomers .user{
    width: fit-content;
    margin: 15px 0  12px;
    gap: 4px;
}
.happyCustomers .user h3{
    font-family: SatoshiB;
    font-size: 20px;
}
.happyCustomers section p{
    width: 336px;
    color: rgba(0, 0, 0, 0.6);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                            cart.html 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.cart{
    padding: 0 100px 350px;
}
.cart .path, 
.product .path{
    margin: 24px 0 24px;
    width: fit-content;
}
.cart .path a, 
.product .path a{
    color: rgba(0, 0, 0, 0.6);
    margin-right: 4px;
}
.cart .path p, 
.product  .path p{
    color: rgba(0, 0, 0, 0.6);
    margin-left: 12px;
}
.cart h2{
    font-family: IntegralCF;
    font-size: 40px;
}
.cart h3{
    text-align: center;
    font-family: InterR;
    font-size: 45px;
    margin-top: 230px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           product.html

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.product{
    padding: 0 100px 168px;
}
.product .path{
    margin-bottom: 42px;
}
.product section.flex{
    gap: 40px;
    width: fit-content;
}
.product .images.flex{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    width: fit-content;
    height: 530px;
}
.product .images img{
    border-radius: 20px;
}
.product .images img:first-child{
    border: solid 1px #000;
    width: 152px;
    height: 167px;
}
.product .prodInfo{
    width: 600px;
}
.product .prodInfo h2{
    font-family: IntegralCF;
    font-size: 39px;
    margin-bottom: 14px;
}
.product .rating{
    gap: 7px;
    margin-bottom: 14px;
}
.product .rating img{
    height: 25px;
}
.product .rating p{
    margin-left: 9px;
}
.product .prodInfo .price{
    width: fit-content;
    gap: 12px;
    margin-bottom: 20px;
}
.product .prodInfo .price h3{
    font-family: SatoshiB;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
}
.product .prodInfo .price h3:first-child{
    text-decoration: none;
    color: #000;
}
.product .prodInfo .price p{
    font-family: SatoshiM;
    color: #FF3333;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 14px;
    border-radius: 62px;
}
.product .prodInfo>p{
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}
.product .wholeInfo>p{
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.product .line{
    margin-bottom: 24px;
}
.product .colors{
    width: fit-content;
    gap: 16px;
    margin-bottom: 24px;
}
.product .colors .active{
    background-image: url(../images/activeColor.png);
    background-repeat: no-repeat;
    background-position: center;
}
.product .colors .khaki{
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: #4f4631;
}
.product .colors .green{
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: #314f4a;
}
.product .colors .purple{
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: #31344f;
}
.product .sizes{
    width:  fit-content;
    gap: 12px;
    margin-bottom: 24px;
}
.product .sizes p{
    padding: 12px 24px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 62px;
    background-color: #F0F0F0;
}
.product .sizes p.active{
 background-color: #000;
 color: #fff;
}
.product .buttons{
    gap: 20px;
    width: fit-content;
}
.product .amount{
    width: fit-content;
    padding: 14px 20px;
    background-color: #f0f0f0;
    border-radius: 62px;
    gap: 38px;
}
.product .amount p{
    margin-bottom: 0;
    font-family: SatoshiM;
}
.product .buttons button{
    font-family: SatoshiM;
    padding: 15px 0;
    border: none;
    background-color: #000;
    color: #fff;
    width: 400px;
    height: 52px;
    border-radius: 62px;
}
.product .fastButtons{
    width: 100%;
    margin: 80px 0 24px;
}
.product .fastButtons p{
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
}
.product .fastButtons p.active{
    color: #000;
    font-family: SatoshiM;
    border-bottom: solid 2px #000;
}
.product .reviewsParams h2{
    font-family: SatoshiB;
    font-size: 24px;
}
.product .reviewsParams h2 span{
    font-family: SatoshiR;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.product .parameters{
    width: 48px;
    height: 48px;
    border-radius: 62px;
    background-color: #f0f0f0;
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-position: center;
}
.product .settings{
    gap: 10px;
}
.product .reviewSelect{
    height: fit-content;
    padding: 13px 20px;
    background-color: #f0f0f0;
    border-radius: 62px;
}
.product #Review{
    width: 100px;
    background-color: #f0f0f0;
    font-family: SatoshiM;
    font-size: 16px;
    border: none;
}
.product .reviewsParams{
    margin-bottom: 24px;
}
.product .reviewsParams a{
    font-family: SatoshiM;
    color: #fff;
    background-color: #000;
    border-radius: 62px;
    padding: 13px 30px;
}
.product .reviews.flex{
    flex-wrap: wrap;
    gap: 20px;
}
.product .reviews section{
    width: 610px;
    padding: 28px 32px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.product .reviews .stars{
    gap: 7px;
    width: fit-content;
    margin-bottom: 15px;
}
.product .reviews .stars img{
    height: 23px;
}
.product .reviews .user{
    width: fit-content;
    gap: 4px;
    margin-bottom: 12px;
}
.product .reviews .user h3{
    font-family: SatoshiB;
    font-size: 20px;
}
.product .reviews section>p{
    color: rgba(0, 0, 0, 0.6);
}
.product .reviews .posted{
    font-family: SatoshiM;
    margin-top: 24px;
}
.product .reviews button{
    width: fit-content;
    padding: 15px 45px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    font-family: SatoshiM;
    font-size: 16px;
    background-color: #fff;
    margin: 16px auto 0;
}
.product .uMightLike h2{
    font-family: IntegralCF;
    font-size: 48px;
    text-align: center;
    margin: 64px 0 55px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           F O O T E R 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
footer{
    background-color: #F0F0F0;
    height: 500px;
    position: relative;
    padding: 140px 100px 82px;
}
footer>div.flex{
    margin-bottom: 50px;
}
footer>div:last-child{
    margin-bottom: 0;
}
.uptoDate{
    position: absolute;
    top: -90px;
    left: 100px;
    background-color: #000;
    width: 1240px;
    padding: 36px 64px;
    border-radius: 20px;
}
.uptoDate h2{
    color: #fff;
    font-family: IntegralCF;
    font-size: 40px;
    width: 551px;
}
.mail{
    background-color: #fff;
    width: 349px;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 62px;
    margin-bottom: 14px;
}
.mail input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.uptoDate #mailSubmit{
    background-color: #fff;
    width: 349px;
    padding: 12px 16px;
    border-radius: 62px;
    border: none;
    font-size: 16px;
    font-family: SatoshiM;
}
.info section:first-child{
    width: 248px;
}
.info section:first-child h2{
    font-family: IntegralCF;
    font-size: 34px;
    margin-bottom: 25px;
    color: #000;
}
.info section:first-child p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 35px;
    line-height: 22px;
}
.info section:first-child div{
    width: 148px;
}
.info section h3{
    font-family: SatoshiM;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 3px;
}
.info section ul li a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    margin-top: 17px;
    display: inline-block;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.rights p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
}


@media only screen and (max-width: 1439px){
#mobileHidden{
    display: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           H E A D E R 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
header{
    padding: 54px 16px 20px;
    position: relative;
}
header .title{
    width: fit-content;
    gap: 16px;
}
header h1 a{
    font-family: IntegralCF;
    font-size: 25px;
    color: #000;
}
.cartAndAcc{
    gap: 12px;
}
.cartAndAcc a{  
    margin-top: 4px;
}
.signUp{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding:  9px 0 9px;
    width: 100%;
    text-align: center;
}
.signUp a{
    font-family: SatoshiM;
    color: #fff;
    border-bottom: solid 2px #fff;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                             M A I N 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.findClothes{
    background-color: #F2F0F1;
    width: 100%;
    padding: 40px 16px 430px;
    position: relative;
}
.findClothes>h2{
    font-family: IntegralCF;
    font-size: 36px;
    width: 315px;
    line-height: 34px;
    margin-bottom: 20px;
}
.findClothes>p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}
.findClothes button{
    border: none;
    background-color: #000;
    width: 100%;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-family: SatoshiM;
    border-radius: 62px;
    margin-bottom: 20px;
}
.findClothes>div.flex{
    width: 278px;
    flex-wrap: wrap;
    justify-self: center;
}
.vLine{
    width: 1px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.1);
}
.findClothes>div.flex h2, .findClothes span{
    font-family: SatoshiB;
    font-size: 24px;
}
.findClothes>div.flex p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 22px;
    width: fit-content;
    text-align: center;
}
.findClothes span{
    color: #000;
    display: block;
}
.findClothes>div.flex>p{
    margin: 12px auto 0;
}
.particles{
    position: absolute;
    top: 405px;
    left: 0;
    width: 100%;
    height: 448px;
    background-image: url(../images/people.png);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-x: -520px;
}
.shineParticle{
    position: absolute;
    top: 40px;
    right: 21px;
    width: 76px;
}
.shineParticleSmall{
    position: absolute;
    top: 137px;
    left: 27px;
    width: 44px;
}
.brands.flex{
    flex-wrap: wrap;
    background-color: #000;
    padding: 38px 16px;
}
.brands a{
    height: 26px;
}
.brands img{
    height: 100%;
}
.brands div{
    margin: 20px auto 0;
    gap: 31px;
}
.brands div img{
    width: 134px;
    height: 22px;
}
.newArrivals, 
.topSelling{
    padding: 40px 0 40px 16px;
    width: 100%;
}
.newArrivals h2, 
.topSelling h2{
    font-size: 32px;
    font-family: IntegralCF;
    text-align: center;
    margin-bottom: 32px;
}
.newArrivals .flex, 
.topSelling .flex, 
.product .uMightLike .flex{
    gap: 16px;
}
.newArrivals .flex>div:nth-child(2), 
.topSelling .flex>div:nth-child(2), 
.product .uMightLike .flex>div:nth-child(2){
    overflow: hidden;
}
.newArrivals .flex>div>img, 
.topSelling .flex>div>img, 
.product .uMightLike .flex>div>img{
    border-radius: 13px;
    margin-bottom: 10px;
    height: 200px;
}
.newArrivals .flex>div>h3, 
.topSelling .flex>div>h3, 
.product .uMightLike .flex>div>h3{
    font-family: SatoshiB;
    font-size: 16px;
    margin-bottom: 4px;
    width: max-content;
}
.newArrivals .rating, 
.topSelling .rating, 
.product .uMightLike .rating{
    width: fit-content;
    margin-bottom: 4px;
    gap: 4px;
}
.newArrivals .rating img, 
.topSelling .rating img, 
.product .uMightLike .rating img{
    height: 15px;
}
.newArrivals .rating p, 
.topSelling .rating p, 
.product .uMightLike .rating p{
    margin-left: 7px;
    font-size: 12px;
}
.newArrivals .rating span, 
.topSelling .rating span, 
.product .uMightLike .rating span{
    color: rgba(0, 0, 0, 0.6);
}
.newArrivals .price, 
.topSelling .price, 
.product .uMightLike .price{
    width: fit-content;
    gap: 5px;
}
.newArrivals .price h3, 
.topSelling .price h3, 
.product .uMightLike .price h3{
    font-family: SatoshiB;
    font-size: 20px;
}
.newArrivals #Discount h3:nth-child(2), 
.topSelling #Discount h3:nth-child(2), 
.product #Discount h3:nth-child(2){
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
}
.newArrivals #Discount p, 
.topSelling #Discount p, 
.product #Discount p{
    font-family: SatoshiM;
    font-size: 10px;
    color: #FF3333;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 3px 8px;
    border-radius: 62px;
}
.newArrivals button, 
.topSelling button{
    display: block;
    font-family: SatoshiM;
    font-size: 14px;
    padding: 14px 152px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin: 24px 16px 0 0;
    background-color: #fff;
}
.index .line{
    margin-bottom: 0;
}
.browseBy.flex{
    background-color: #F0F0F0;
    border-radius: 40px;
    margin: 10px 16px 50px;
    padding: 40px 24px 27px;
    flex-wrap: wrap;
    height: fit-content;
    gap: 16px;
}
.browseBy h2{
    font-family: IntegralCF;
    font-size: 32px;
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
}
.browseBy .casual{
    width: 100%;
    height: 190px;
    background-image: url(../images/casual.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy .formal{
    width: 100%;
    height: 190px;
    background-image: url(../images/formal.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position-x: -90px;
}
.browseBy .party{
    width: 100%;
    height: 190px;
    background-image: url(../images/party.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position-x: -90px;
}
.browseBy .gym{
    width: 100%;
    height: 190px;
    background-image: url(../images/gym.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}
.browseBy a{
    display: inline-block;
    color: #000;
    font-family: SatoshiB;
    font-size: 24px;
    margin: 16px 24px;
}
.happyCustomers.flex{
    flex-direction: column;
    margin: 0 16px 185px;
}
.happyCustomers>div{
    width: 100%;
}
.happyCustomers>div div{
    align-self: flex-end;
}
.happyCustomers h2{
    font-family: IntegralCF;
    font-size: 32px;
}
.happyCustomers #LArrow{
    margin-right: 16px;
}
.happyCustomers #RArrow{
    transform: rotate(180deg);
}
.happyCustomers section{
    margin-top: 24px;
    padding: 24px;
    width: fit-content;
    /* height: 240px; */
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.happyCustomers section div:first-child{
    width: 118px;
}
.happyCustomers section div:first-child img{
    height: 19px;
}
.happyCustomers .user{
    width: fit-content;
    margin: 12px 0 8px;
    gap: 4px;
}
.happyCustomers .user h3{
    font-family: SatoshiB;
    font-size: 16px;
}
.happyCustomers section p{
    font-size: 14px;
    width: 310px;
    color: rgba(0, 0, 0, 0.6);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                            cart.html 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.cart{
    padding: 0 17px 250px;
}
.cart .path, 
.product .path{
    margin: 20px 0 25px;
    width: fit-content;
}
.cart .path a, 
.product .path a{
    color: rgba(0, 0, 0, 0.6);
    margin-right: 4px;
    font-size: 14px;
}
.cart .path p, 
.product  .path p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-left: 6px;
}
.cart h2{
    font-family: IntegralCF;
    font-size: 30px;
}
.cart h3{
    text-align: center;
    font-family: InterR;
    font-size: 32px;
    width: 170px;
    margin: 100px auto 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           product.html

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.product{
    padding: 0 0 185px 16px;
}
.product section.flex{
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-right: 16px;
}
.product .images.flex{
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}
.product .images img{
    border-radius: 20px;
    width: 111px;
    height: 106px;
}
.product .images img:first-child{
    border: solid 1px #000;
}
.product .images img:last-child{
    width: 100%;
    height: 290px;
    order: -3;
}
.product .prodInfo{
    width: 100%;
}
.product .prodInfo h2{
    font-family: IntegralCF;
    font-size: 24px;
    margin-bottom: 12px;
    width: 267px;
}
.product .rating{
    gap: 5px;
    margin-bottom: 12px;
    width: 154px;
}
.product .rating img{
    height: 19px;
}
.product .rating p{
    margin-left: 11px;
    font-size: 14px;
}
.product .rating span{
    color: rgba(0, 0, 0, 0.6);
}
.product .prodInfo .price{
    width: fit-content;
    gap: 10px;
    margin-bottom: 20px;
}
.product .prodInfo .price h3{
    font-family: SatoshiB;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
}
.product .prodInfo .price h3:first-child{
    text-decoration: none;
    color: #000;
}
.product .prodInfo .price p{
    font-family: SatoshiM;
    color: #FF3333;
    font-size: 14px;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 12px;
    border-radius: 62px;
}
.product .prodInfo>p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-bottom: 24px;
}
.product .wholeInfo>p{
    font-size: 14px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.product .line{
    margin-bottom: 24px;
    height: 1px;
}
.product .colors{
    width: fit-content;
    gap: 12px;
    margin-bottom: 24px;
}
.product .colors .active{
    background-image: url(../images/activeColor.png);
    background-repeat: no-repeat;
    background-position: center;
}
.product .colors .khaki{
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: #4f4631;
}
.product .colors .green{
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: #314f4a;
}
.product .colors .purple{
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: #31344f;
}
.product .sizes{
    width:  fit-content;
    gap: 8px;
    margin-bottom: 24px;
}
.product .sizes p{
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 62px;
    background-color: #F0F0F0;
}
.product .sizes p.active{
 background-color: #000;
 color: #fff;
}
.product .buttons{
    gap: 12px;
    width: fit-content;
}
.product .amount{
    width: fit-content;
    padding: 12px 16px;
    background-color: #f0f0f0;
    border-radius: 62px;
    gap: 16px;
}
.product .amount p{
    margin-bottom: 0;
    font-family: SatoshiM;
    font-size: 14px;
}
.product .amount img{
    width: 20px;
    height: 20px;
}
.product .buttons button{
    font-family: SatoshiM;
    font-size: 14px;
    padding: 13px 0;
    border: none;
    background-color: #000;
    color: #fff;
    width: 236px;
    /* height: 52px; */
    border-radius: 62px;
}
.product .fastButtons{
    width: 100%;
    margin: 50px 0 20px;
    padding-right: 16px;
}
.product .fastButtons p{
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    width: 83px;
    text-align: end;
}
.product .fastButtons p:first-child{
    width: 152px;
    text-align: start;
}
.product .fastButtons p.active{
    color: #000;
    font-family: SatoshiM;
    border-bottom: solid 2px #000;
    width: 123px;
    text-align: center;
}
.product .reviewsParams{
    padding-right: 16px;
}
.product .reviewsParams h2{
    font-family: SatoshiB;
    font-size: 20px;
}
.product .reviewsParams h2 span{
    font-family: SatoshiR;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.product .parameters{
    width: 40px;
    height: 40px;
    border-radius: 62px;
    background-color: #f0f0f0;
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-position: center;
}
.product .settings{
    gap: 8px;
}
.product .reviewsParams{
    margin-bottom: 20px;
}
.product .reviewsParams a{
    font-family: SatoshiM;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border-radius: 62px;
    padding: 12px 16px;
}
.product .reviews.flex{
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 16px;
}
.product .reviews section{
    width: 100%;
    padding: 24px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.product .reviews section>div.flex:nth-child(2) img{
    height: 19px;
}
.product .reviews .stars{
    gap: 6px;
    width: fit-content;
    margin-bottom: 12px;
}
.product .reviews .stars img{
    height: 19px;
}
.product .reviews .user{
    width: fit-content;
    gap: 4px;
    margin-bottom: 8px;
}
.product .reviews .user h3{
    font-family: SatoshiB;
    font-size: 16px;
}
.product .reviews section>p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.product .reviews .posted{
    font-family: SatoshiM;
    margin-top: 16px;
}
.product .reviews button{
    width: fit-content;
    padding: 14px 36px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    font-family: SatoshiM;
    font-size: 14px;
    background-color: #fff;
    margin: 20px auto 50px;
}
.product .uMightLike h2{
    font-family: IntegralCF;
    font-size: 32px;
    text-align: center;
    margin: 0 auto 40px;
    padding-right: 16px;
    width: 284px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

                           F O O T E R 

                            S T A R T 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
footer{
    background-color: #F0F0F0;
    position: relative;
    padding: 200px 17px 77px;
}
.uptoDate.flex{
    position: absolute;
    top: -135px;
    left: 16px;
    background-color: #000;
    width: 358px;
    padding: 32px 24px 28px;
    border-radius: 20px;
    flex-direction: column;
    gap: 32px;
}
.uptoDate h2{
    color: #fff;
    font-family: IntegralCF;
    font-size: 32px;
    width: 100%;
}
footer form{
    width: 100%;
}
.mail{
    background-color: #fff;
    width: 100%;
    gap: 12px;
    padding: 11px 16px;
    border-radius: 62px;
    margin-bottom: 12px;
}
.mail img{
    width: 20px;
}
.mail input{
    border: none;
    width: 100%;
    font-size: 14px;
}
#mailSubmit{
    background-color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 62px;
    border: none;
    font-size: 14px;
    font-family: SatoshiM;
}
.info.flex{
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.info section{
    width: 160px;
}
.info section:first-child{
    width: 100%;
}
.info section:first-child h2{
    font-family: IntegralCF;
    font-size: 29px;
    margin-bottom:14px;
    color: #000;
}
.info section:first-child p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    line-height: 20px;
}
.info section:first-child div{
    width: fit-content;
    gap: 12px;
}
.info section h3{
    font-family: SatoshiM;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 16px;
}
.info section ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.info section ul li a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.rights{
    flex-direction: column;
}
.rights p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
}
.rights div.flex{
    gap: 10px;
}
.rights a{
    height: 26px;
}
.rights img{
    width: 40px;
    height: 100%;
}
}